@charset "UTF-8";

@font-face {
    font-family: Android;
    src: url(/Prática/04/fontes/idroid.otf) format(opentype);
    font-weight: normal;
    font-style: normal; 
}

h1{
    font-family: Android;
}
h2{
    font-family: Android;
}
p{
    font-family: Android;
}