@charset "UTF-8";

@media screen and (min-width: 768px){
    nav{
        display: inline-block;
        background-color: rgba(0, 0, 0, 0);
        text-align: left;
        position: relative;
        top: 17px;
    }
    nav > a{
        display: inline-block;
        text-align: left;
    }
    span#burguer{
        display: none;
    }
    main{
        width: 50vw;
    }
    article{
        max-width: 760px;
    }

}