@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
:root{
    --c1: #FFCA06;
    --c2: #000EB2;
    --c3: #FFDC5B;
    --c4: #B28D03;
    --c5: #5e6cff89;
}

body{
    background-color: var(--c3);
}
header{
    background-color: var(--c2);
    color: var(--c4);
    padding: 20px;
}
header > h1{
    text-align: center;
    padding-bottom: 30px;
}
span#burguer{
    background-color: var(--c5);
    display: block;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}
span#burguer:hover{
    background-color: white;
    transition: 0.5s;
    cursor: pointer;
}
nav{
    text-align: center;
    background-color: var(--c5);
    border-radius: 10px;
    display: none;
}
nav > a{
    color: var(--c4);
    text-decoration: none;
    padding: 10px;
    display: block;
}
nav > a:hover{
    background-color: var(--c4);
    color: var(--c2);
    border-radius: 5px;
    font-weight: bolder;
    transition: 0.5s;
}
main{
    background-color: white;
    margin: auto;
    border-radius: 10px;
    width: 87vw;
    margin-top: 10px;
    padding: 20px;
}
main > article{
    text-align: center;
    margin: auto;
    text-indent: 20px;
    max-width: 710px;
}
h2{
    color: var(--c4);
    margin-bottom: 20px;
    font-size: 2em;
    text-shadow: 2px 2px 1px black;
}
