@charset "UTF-8";

div.bloco{
    height: 200px;
    border: 1px solid black;
    margin: 5px;
    border-radius: 10px;
    background-image: url("/html-css-master/exercicios/modulo-03/ex022/imagens/wallpaper002.jpg");
    background-position-x: left;
}
div#q1{
    background-position: left top;
}
div#q2{
    background-position: left bottom;
}
div#q3{
    background-position: right top;
}
div#q4{
    background-position: right bottom;
}
div#q5{
    background-position: center center;
}