@charset "UTF-8";

body{
    background-image: url("/html-css-master/exercicios/modulo-03/ex022/imagens/wallpaper005.jpg"), url("/html-css-master/exercicios/modulo-03/ex022/imagens/wallpaper002.jpg");
    background-size: 100px 100px;
    background-repeat: repeat-x;
}