@charset "UTF-8";
/*Mobile first*/

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
:root{
    --c1:#025159;
    --c2:#03A696;
    --c3:#027368;
    --c4:#05F2C7;
    --c5:#05F2AF;
}
body, html{
    width: 100vw;
    height: 100vh;
}
body{
    background-color: var(--c1);
}
main{
    position: relative;
    height: 100vh;
    width: 100vw;
    margin: auto;
}
section{
    background-color: white;
    margin: auto;
    width: 374px;
    height: 659px;
    border-radius: 20px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.733);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    transition: width 0.5s, height 0.5s;
        transition-timing-function: ease;
        text-align: center;
}
section > form{
    margin: auto;
}
h1{
    font-size: 2em;
    margin-bottom: 15px;
}
 p#ps{
    font-size: 15px;
}
div#imagem{
    background: black url(../imagens/pexels-tobias-bjørkli-1674624.jpg) no-repeat fixed center top/ cover;
    height: 200px;
    margin: auto;
    display: block;
}
form{
    display: block;
    padding: 10px;
    text-align: center;
}
form > article > div.login{
    background-color: white;
    border: 1px solid var(--c2);
    display: block;
    margin: 5px 0px;
    padding: 4px;
    border-radius: 4px;
    text-align: center;
    overflow: hidden;
}
article > div.login > input{
    display: block;
    margin: auto;
    border-radius: 4px;
    border: 1px solid var(--c2);
    padding: 4px;
    font-size: 0.9em;
}
div.login > label{
    display: none;
}
div.login > span{
    color:var(--c1);
}

form > input[type=submit]{
    display: block;
    margin: auto;
    width: 40%;
    height: 24px;
    margin-top: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-color: var(--c1);
    color: white;
    text-align: center;

}
form > input[type=submit]:hover {
    background-color: var(--c2);
}
form > a.botão{
    display: inline-block;
    margin: auto;
    text-decoration: none;
    font-size: 15px;
    font-weight: normal;
    width: 40%;
    height: 25px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid var(--c2);
    cursor: pointer;
    background-color: white;
    color: #025159;
    text-align: center;
}
form > a.botão:hover{
    background-color: var(--c2);
    color: white;
    transition: 0.5s;
}
form > a.botão > span{
    font-size: 1em;
    padding-top: 3px;
    margin: auto;
}
