@charset "UTF-8";
/*Mobile first*/

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
:root{
    --c1:#025159;
    --c2:#03A696;
    --c3:#027368;
    --c4:#05F2C7;
    --c5:#05F2AF;
}
body{
    background-color: var(--c1);
}
section{
    background-color: white;
    width: 90vw;
    margin: auto;

}